<!doctype html>
<html lang="en">
  <head>
    <title>Overt Dummy Site : <%= meta[:title] || 'Title' %></title>
  </head>

  <body>
    <%= yield %>
    <%= partial('built_with') %>
  </body>

</html>
